/* 
#root {
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}  */


.contact{
  background-image: url(assets/final.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.input1::placeholder {
  font-size: 12px;
}


.example::-webkit-scrollbar {
  display: none;
}


.diamond{
  aspect-ratio: 1 / 1;
  position: relative;
  padding: 0 120px;
  height: 100%;
}

.DiamondImg{
  width: 32%;
  border: 1px solid rgb(123, 123, 123);
  border-radius: 8px;
  transition: transform 1s, width 1s;

}

.DiamondImg:hover{
  transform: rotate(0deg);
  width: 50%;
  z-index: 10;
}

.a{
  left: 50%;
}

.b{
  left: 25%;
  top: 25%;
}

.c{
  left: 75%;
  top: 25%;
}

.d{
  top:50%;
  left: 0;
}

.e{
  top:50%;
  left: 50%;
}

.f{
  top: 50%;
  left: 100%;
}

.g{
  top: 75%;
  left: 25%;
}

.h{
  top: 75%;
  left: 75%;
}


