@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    padding: 0px;
    margin: 0px;
    max-width: max-content;
    text-align: none;
}

body{
    background-image: url('./bgsample.avif');
    background-repeat: no-repeat;
    background-size: cover;
    
   
}